@page "/"
@using BBK.SaaS.Core.Dependency
@inherits SaaSMainLayoutPageComponentBase

<div class="card">
    <div class="card-body">
        INDEX
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        DependencyResolver.Resolve<INavigationService>().NavigateTo(NavigationUrlConsts.TrangChu);
    }
}