@using Abp.Timing;
@using BBK.SaaS.Web.Areas.App.Models.Layout;
@using BBK.SaaS.Web.Areas.App.Views.Shared.Components.AppSideBar

@{
    var headerViewModel = new HeaderViewModel();
}

<!-- Page Sidebar Start-->
<div class="sidebar-wrapper" data-layout="stroke-svg">
	<div>
		<div class="logo-wrapper">
            <a href="/"><img class="img-fluid" src="@headerViewModel.GetLogoUrl(ApplicationPath, "light")&t=@Clock.Now.Ticks.ToString()" alt=""></a>
			<div class="back-btn"><i class="fa fa-angle-left"></i></div>
			<div class="toggle-sidebar">
				<svg class="stroke-icon sidebar-toggle status_toggle middle">
					<use href="/themes/mofi/assets/svg/icon-sprite.svg#toggle-icon"></use>
				</svg>
				<svg class="fill-icon sidebar-toggle status_toggle middle">
					<use href="/themes/mofi/assets/svg/icon-sprite.svg#fill-toggle-icon"></use>
				</svg>
			</div>
		</div>
		<div class="logo-icon-wrapper"><a href="/"><img class="img-fluid" src="/themes/mofi/assets/images/logo/logo-icon.png" alt=""></a></div>
		<nav class="sidebar-main">
			<div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>

			@await Component.InvokeAsync(typeof(AppSideBarViewComponent))

			<div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
		</nav>
	</div>
</div>
<!-- Page Sidebar Ends-->
