.icon-right {
    margin-bottom: 11px;
    margin-right: 4px;
    margin-left: 4px;
}

a {
    color: #000;
}

.header {
    display: flex;
    align-items: center;
}

body {
    font-family: "Roboto",Arial, helvetica neue, Helvetica, sans-serif;
}

    .header span {
        margin-left: 5px;
        font-weight: bold;
        font-size: 15px;
    }

.text-number {
    color: #98A2B3;
    font-size: 35px;
    font-weight: 800;
    line-height: 1;
}

.tenchuyenmuc {
    margin-left: 4px;
}

img {
    border-radius: 5px;
}

.user-img {
    display: flex;
    align-items: center;
}

    .user-img img {
        margin-right: 9px;
    }

.tacgia {
    font-size: 1rem;
    font-weight: 700;
    color: #0768ea;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 19px;
}
.short-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}