@inherits LayoutComponentBase
<div id="menu-login-2" class="page-content header-clear-medium">
    @* <img src="images/QuangBinh/SVLQB_Logo.png" /> *@
    @* <div class="card m-0 bg-18 theme-dark" data-card-height="320" style="height: 96%;"> *@
        @Body
    @* </div> *@
</div>
