body {
    font-family: "Roboto",Arial, helvetica neue, Helvetica, sans-serif;
}

a {
    color: #000;
}

.header {
    display: flex;
    align-items: center;
}

.descrip {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}
.contact-list {
    border-radius: 8px;
    border-color: #9bc3a8;
}
.icon-right {
    margin-bottom: 11px;
    margin-right: 4px;
    margin-left: -8px;
}
/*.vieclam {
    padding: 12px;
}*/
.btn-filter {
    background-color: #00b14f
}
.contact {
    border-radius: 10px;
    border-color: #9bc3a8;
}
.form-select, .input-filter {
    height: 40px
}
.name{
    font-weight: 500
}
.asked {
    color: white;
    background-color: deepskyblue;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
}

.no-asked {
    color: white;
    background-color: #f35355;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
}