@using BBK.SaaS.Mobile.MAUI.Pages.MySettings
@using BBK.SaaS.Services.Navigation
@layout LoginLayout
@inherits SaaSComponentBase
@attribute [Route("/" + NavigationUrlConsts.Login)]

<div class="menu-title mt-n1">
    <h1>Đăng nhập </h1>
    <p class="color-theme opacity-50">
        Vui lòng nhập thông tin đăng nhập của bạn bên dưới
    </p>
</div>

<div class="content mb-0">
    <div class="input-style no-borders has-icon validate-field mb-4">
        <i class="fa fa-user ms-2"></i>
        <input type="text" @bind-value="UserName" class="form-control validate-name" id="form1a" placeholder="Tên đăng nhập">
        <label for="form1a" class="color-blue-dark">Name</label>
        <i class="fa fa-times disabled invalid color-red-dark"></i>
        <i class="fa fa-check disabled valid color-green-dark"></i>
        <em>(bắt buộc)</em>
    </div>
    <div class="input-style no-borders has-icon validate-field mb-4">
        <i class="fa fa-lock ms-2"></i>
        <input type="password" @bind-value="Password" class="form-control validate-text" id="form3a" placeholder="Mật khẩu">
        <label for="form3a" class="color-blue-dark">Password</label>
        <i class="fa fa-times disabled invalid color-red-dark"></i>
        <i class="fa fa-check disabled valid color-green-dark"></i>
        <em>(bắt buộc)</em>
    </div>
    <div class="row">
        <div class="col-6">
            <a @onclick="EmailActivationButton" class="font-10">Kích hoạt email</a>
        </div>
        <div class="col-6">
            <a @onclick="ForgotPasswordButton" data-menu="menu-forgot-1" class="font-10 float-end">Quên mật khẩu?</a>
        </div>
    </div>
    <a href="#" @onclick="LoginUser" class="btn btn-full btn-m shadow-l rounded-s text-uppercase font-900 bg-green-dark mt-n2">Đăng nhập</a>
    <div class="divider divider-margins mt-4 mb-4"></div>
    @* <div class="divider divider-margins mb-4">Hoặc đăng nhập bằng</div> *@
    <p class=" mb-2">
        @*  <a href="#"  class="btn btn-full btn-m shadow-l rounded-s text-uppercase font-900 bg-green-dark mt-n2">Facebook</a>
        <a href="#"  class="btn btn-full btn-m shadow-l rounded-s text-uppercase font-900 bg-green-dark mt-n2">Google</a> *@
        <a href="#" class="btn btn-icon btn-m rounded-sm btn-full shadow-l bg-facebook text-uppercase font-900 text-start"><i class="fab bg-transparent fa-facebook-f text-center"></i>Đăng nhập bằng Facebook</a>
        <a href="#" class="btn btn-icon btn-m rounded-sm mt-2 btn-full shadow-l bg-google text-uppercase font-900 text-start"><i class="fab bg-transparent fa-google text-center"></i>Đăng nhập bằng Google</a>

    </p>
    <div class="" >
            <a href="/TrangChu">Trải nghiệm không cần đăng nhập</a> 
        <div>
            <a href="/Register" class="">Đăng ký tài khoản mới</a>
        </div>
    </div>
</div>


       @*  <div class="card-body mx-0">
            <h1>Đăng nhập</h1>
            <p class="font-11 mb-0 mt-n2">
                Vui lòng nhập thông tin đăng nhập của bạn bên dưới
            </p>
            <div class="input-style no-borders has-icon validate-field mb-4 mt-3">
                <i class="fa fa-user"></i>
                <input type="name" @bind-value="UserName" class="form-control validate-name" id="form1ab" placeholder="Tên đăng nhập">
                <label for="form1ab" class="color-blue-dark">Name</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>
            <div class="input-style no-borders has-icon validate-field mb-4">
                <i class="fa fa-lock"></i>
                <input type="password" @bind-value="Password" class="form-control validate-text" id="form3ab" placeholder="Mật khẩu">
                <label for="form3ab" class="color-blue-dark">Password</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>
            <div class="row">
                <div class="col-6">
                    <a href="#" @onclick="ForgotPasswordButton" data-menu="menu-forgot-2" class="font-10">Quên mật khẩu?</a>
                </div>
                <div class="col-6">
                    <a data-menu="menu-register-2" href="#" class="float-end font-10">Đăng ký tài khoản mới</a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <a href="#" class="btn btn-full btn-m shadow-l rounded-s text-uppercase font-900 bg-green-dark mt-n2">Đăng nhập</a>
        </div>
        <div class="card-overlay bg-black opacity-90"></div> *@
<SwitchTenantModal OnSave="OnSwitchTenantSave" @ref="switchTenantModal"></SwitchTenantModal>
@* <SwitchTenantModal OnSave="OnSwitchTenantSave" @ref="switchTenantModal"></SwitchTenantModal> *@
<EmailActivationModal OnSave="OnEmailActivation" @ref="emailActivationModal"></EmailActivationModal>
<ForgotPasswordModal OnSave="OnForgotPassword" @ref="forgotPasswordModal"></ForgotPasswordModal>
