@using BBK.SaaS.Services.Navigation
@inherits SaaSMainLayoutPageComponentBase
@attribute [Route("/" + NavigationUrlConsts.Settings)]

<div class="card">
    <div class="card-body">
@*         <LanguageSwitch OnSave="OnLanguageSwitchAsync"></LanguageSwitch> *@

        <button class="btn  w-100 mb-5" style="background-color: #00b14f;color: white" @onclick="ChangePassword">
            Đổi mật khẩu
        </button>
        <button class="btn btn-danger w-100" @onclick="LogOut">
            Đăng xuất
        </button>
    </div>
</div>

<ChangePasswordModal OnSave="OnChangePasswordAsync" @ref="changePasswordModal"></ChangePasswordModal>