@using BBK.SaaS.Services.Navigation
@inherits SaaSMainLayoutPageComponentBase
@attribute [Route("/" + NavigationUrlConsts.TrangChu)]

<div class="card card-style">
    <div class="content">
        Default
    </div>
</div>

           




