body {
    font-family: "Roboto",Arial, helvetica neue, Helvetica, sans-serif;
}

a {
    color: #000;
}
.vieclam {
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 6px;
    border-color: #9bc3a8
}
.header {
    display: flex;
    align-items: center;
}
.appoitment {
    border-radius: 10px;
    margin-bottom: 6px;
    border-color: #9bc3a8
}
.icon-right {
    margin-bottom: 11px;
    margin-right: 4px;
    margin-left: -8px;
}

.viectimnguoi {
    font-style: italic;
    margin-top: -12px;
}
.input-filter {
    height: 40px;
}

.btn-filter {
    height: 40px;
    background-color: #00b14f
}

.text-error {
    text-align: center;
    margin-top: 80px;
}

.search-icon {
    font-size: 40px;
    color: #009ef7;
    margin-bottom: 5px;
}
.appoitment {
    border-radius: 10px;
    margin-bottom: 6px;
    border-color: #9bc3a8
}
.company, .name-job, .rank, .interview, .typeInterview, .result, .status{
    font-weight: 500;
}
.wait {
    color: white;
    background-color: darkgray;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    margin-top: -3px;
    margin-left: 3px
}
.accept {
    color: white;
    background-color: deepskyblue;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    margin-top: -3px;
    margin-left: 3px
}
.refuse {
    color: white;
    background-color: #f35355;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    margin-top: -3px;
    margin-left: 3px
}
.interviewed {
    color: white;
    background-color: deepskyblue;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    margin-top: -3px;
    margin-left: 3px
}
.no-point {
    color: white;
    background-color: darkgrey;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    margin-top: -3px;
    margin-left: 3px
}
.pass {
    color: white;
    background-color: deepskyblue;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    margin-top: -3px;
    margin-left: 3px
}
.fail {
    color: white;
    background-color: #f35355;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    margin-top: -3px;
    margin-left: 3px
}