.input-filter {
    height: 40px;
}
body {
    font-family: "Roboto",Arial, helvetica neue, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
}

.more_vert {
    margin-top: 8px;
    font-size: 16px;
}
.icon-right {
    margin-bottom: 11px;
    margin-right: 4px;
    margin-left: -8px;
}
.map {
    margin-bottom: 8px;
}
.company, .email, .date {
    margin-bottom: 8px;
}
.vieclam {
    margin: 5px;
}
.name-job {
    font-size: 15px;
}
.text-error {
    text-align: center;
    margin-top: 80px;
}

.search-icon {
    font-size: 40px;
    color: #009ef7;
    margin-bottom: 5px;
}
.introduce-card {
    border-radius: 10px;
    margin-bottom: 6px;
    border-color: #9bc3a8
}
.btn-filter {
    background-color: #00b14f
}
.job-recruitment {
    border-radius: 10px;
    border-color: #9bc3a8;
}
.wait-progres {
    color: white;
    background-color: deepskyblue;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    margin-top: -3px;
    margin-left: 3px
}

.processed {
    color: white;
    background-color: #00b14f;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    margin-top: -3px;
    margin-left: 3px
}

.unconnected {
    color: white;
    background-color: #f35355;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    margin-top: -3px;
    margin-left: 3px
}
.fullname, .phone, .gmail, .date-introduce, .status{
    font-weight: 500;
}