body {
    font-family: "Roboto",Arial, helvetica neue, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
}

.nav {
    margin-bottom: 11px;
    margin-left: -8px;
}

.nav-vtn {
    color: #000;
}

.fa-clock-o {
    margin-top: 2.5px;
}

.scale {
    font-size: 10px;
}

.join-job {
    border: none;
    background-color: #00bdd6;
    color: #fff;
    width: 100%;
    align-items: center;
}

.fa-send {
    color: #fff;
}

.ung-tuyen {
    margin-top: 15px;
}

.save-new {
    margin-top: 15px;
}

button {
    border-radius: 5px;
    height: 45px;
}

ul {
    list-style-type: none;
}

.save-job {
    align-items: center;
    background-color: #fff;
    border: 1px solid #00bdd6;
    width: 50px;
    color: #000;
}

.material-icons {
    font-size: 14px;
}

.fas {
    font-size: 10px;
    margin-top: 3px;
}

.link-infor {
    font-style: italic;
    text-decoration: underline;
}

.title {
    text-transform: uppercase;
}

.name-job {
    font-size: 19px;
}

.company {
    color: #47464b;
    font-size: 16px;
}

.salary {
    margin-top: -8px;
}

.map {
    font-weight: 500;
}

.infor-company {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
}
