@using BBK.SaaS.Mdls.Cms.Configuration
@using BBK.SaaS.Web.TagHelpers
@using BBK.SaaS.Web.Views.Shared.Components.HomeCategories
@using BBK.SaaS.Web.Views.Shared.Components.Widget
@section Scripts
{
	<script abp-src="/view-resources/Views/Home/Search.js" asp-append-version="true"></script>
}

<div class="page-body">
	@await Component.InvokeAsync(typeof(WidgetViewComponent), new { zone = PublicWidgetZones.AllPagesAfterMenu })
	@await Component.InvokeAsync(typeof(WidgetViewComponent), new { zone = PublicWidgetZones.HomePageAfterMenu })

	<!-- container starts-->
	<div class="container cms">
		@* @await Component.InvokeAsync(typeof(HomeCategoriesViewComponent), new { widgetZone = PublicWidgetZones.CategoryArticlesTop })
		@await Component.InvokeAsync(typeof(HomeCategoriesViewComponent), new { zone = PublicWidgetZones.CategoryArticlesTop }) *@
		@await Html.PartialAsync("~/Views/Home/RecruimentMaster.cshtml")
	</div>

	@await Component.InvokeAsync(typeof(WidgetViewComponent), new { zone = PublicWidgetZones.HomePageAfterNewJobs })

	<div class="container cms">
		@await Html.PartialAsync("~/Views/Home/CandidateMaster.cshtml")
	</div>

	@await Component.InvokeAsync(typeof(WidgetViewComponent), new { zone = PublicWidgetZones.HomePageAfterNewApps })

	<div class="container cms">
		@await Component.InvokeAsync(typeof(NewsWidgetsViewComponent), new { })
	</div>
</div>

@await Component.InvokeAsync(typeof(WidgetViewComponent), new { zone = PublicWidgetZones.HomePageBeforeFooter })
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { zone = PublicWidgetZones.AllPagesBeforeFooter })
