body {
    background-color: white;
/*    height: 1000px
*/}

.body-filter {
    height: 560px;
    background-color: white;
}

.icon-filter {
    margin-right: 12px;
    color: #b1b0b5
}
.fa-mortar-board{
    font-size: 19px;
    margin-top: 6px
}
.text {
    margin-top: 5px
}

.btn-delete {
    border: 10px solid black;
    margin-right: 10px;
    width: 50%;
    height: 40px;
    border-radius: 7px;
    background-color: #b1b0b5;
    color: black;
    text-decoration: none;
}

.btn-apply {
    border: 1px solid black;
    width: 50%;
    height: 40px;
    border-radius: 7px;
    background-color: #00b14f;
    color: white
}

a {
    color: black
}

.option-filter {
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    color: green;
    border: 1px solid green;
    border-radius: 12px;
    width: fit-content;
}

.delete-filter {
    font-size: 18px;
    color: green;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
