/*a {
    color: #000;
}

.header {
    display: flex;
    align-items: center;
}

span {
    font-size: 14px;
    font-weight: 600;
}

.progress-bar {
    height: 10px;
    display: block;
    background-color: #4CAF50;
}

.infor {
    margin-bottom: 4px;
}

.infor1 {
    margin-bottom: -7px;
}

.progress-bar-container {
    margin-top: 5px;
}

hr {
    border: dashed;
}

.card-header {
    background-color: #2bb5cf;
    height: 30px;
    width: 100%;
}

.icon {
    font-size: 18px;
    margin-right: 7px;*/
    /* color: #fff;
    text-align: center;*/
/*}

.skill-bar {
    width: 211px;
    height: 10px;
    background-color: #e0e0e0;
    margin-top: 3px;
}

    .skill-bar .progress {
        height: 100%;
        background-color: #4caf50;
    }

.point {
    margin-left: 4px;
}

.infor-lock {
    margin-left: 4px;
}

.fa-lock {
    margin-top: 2px;
}*/

.page-content {
    overflow-x: hidden;
    transition: all 350ms ease;
    z-index: 90;
    padding-bottom: 80px;
    padding-bottom: calc(80px + constant(safe-area-inset-bottom) * 1.1);
    padding-bottom: calc(80px + env(safe-area-inset-bottom) * 1.1);
}
.card-style {
    overflow: hidden;
    margin: 0px 0px 10px 0px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}
.btn-full {
    display: block;
    background-color: #00b14f
}
.btn-xxs, .btn-xs, .btn-s, .btn-sm, .btn-m, .btn-l {
    font-size: 12px !important;
}
.btn.bg-highlight {
    color: #FFF;
}
.under-slider-btn {
    z-index: 50;
    position: relative;
    margin-top: -20px;
}
.rounded-m {
    border-radius: 15px !important;
}
.book-job {
    background-color: #00b14f;
    margin-bottom: 5px;
    width: 100%;
   color: white;
}
.content{
   padding: 15px;
}
img{
    border-radius: 18px;
}
.exp-list, .learn-list {
    border-bottom: 1px solid #00b14f;
}
.work-position, .academic {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin-top: 4px;
    color: #00b14f
}
.start-end-date {
    background-color: #f6bb42;
    color: white;
    padding: 4px;
    border-radius: 5px
}
.text-1{
    font-weight: 500
}
.company-name, .school-name {
    font-weight: 500;
}