@inherits LayoutComponentBase
<div id="menu-login-2" class="menu menu-box-top menu-box-detached rounded-m menu-active" data-menu-effect="menu-over" style="display: block; height: 96%;">
    @* <img src="images/QuangBinh/SVLQB_Logo.png" /> *@
    @* <div class="card m-0 bg-18 theme-dark" data-card-height="320" style="height: 96%;"> *@
        @Body
    @* </div> *@
</div>
