@inherits LayoutComponentBase

@if (IsConfigurationsInitialized)
{
    <!--begin::App-->
    <div id="page">
        <!--begin::Page-->
        <!-- Top logo + menu -->
        <div class="header header-fixed header-logo-center mb-3" style="pointer-events: all;">
            <div class="d-flex">
                <div class="align-self-center ms-2">
                    <a href="/TrangChu">
                        <img src="images/QuangBinh/Trungtam_40.png">
                    </a>
                </div>
               @*  <div class="align-self-center ms-auto mt-1 opening-menu" style="pointer-events: all;">
                    <a data-menu="menu-sidebar-left" class="icon icon-xs gradient-yellow rounded-s " @onclick="OpenSideBar">
                        <i class="fa fa-list color-white font-18"></i>
                    </a>
                </div> *@

            </div>
        </div>
        <!--end::Wrapper-->

        <div class="page-content header-clear-medium">
            @Body
            <div class="footer card mx-0">
                <a href="#" class="footer-title"><span class="color-highlight">Trung tâm DVVL Quảng Bình</span></a>
                <p class="footer-text mb-2">
                    <span><i class="fa fa-heart color-highlight font-16 ps-2 pe-2"></i>Hotline: 02323 7979898</span>
                    <br><i class="fa-solid fa-envelope color-highlight font-16 ps-2 pe-2"></i>
                    vieclamthanhnienquangbinh@gmail.com
                    <br><i class="fa-solid fa-location-dot color-highlight font-16 ps-2 pe-2"></i>42 Trần Quang Khải,
                    Đồng Phú, Đồng Hới, Quảng Bình
                </p>
                <p class="footer-copyright">
                    Copyright &copy; BBK Solution <span id="copyright-year">2024</span>. All
                    Rights
                    Reserved.
                </p>
                <p class="footer-links">
                    <a href="#" class="color-highlight">Chính sách</a> | <a href="#"
                                                                            class="color-highlight">Điều khoản sử dụng</a> | <a href="#"
                                                                                                                                class="back-to-top color-highlight"> Back to Top</a>
                </p>
                <div class="clear"></div>
            </div>
            <div id="footer-bar" class="footer-bar-1">
                <a href="/TrangChu"><i class="fa fa-home color-red-dark"></i><span>Trang chủ</span></a> @* class="active-nav" *@
                <a href="/Filter"><i class="fa fa-search color-blue-dark"></i><span>Tìm kiếm</span></a>
                <a href="/NguoiTimViec"><i class="fa fa-user color-yellow-dark"></i><span>Người tìm việc</span></a>
                <a href="/ViecTimNguoi"><i class="fa fa-briefcase color-green-dark"></i><span>Việc tìm người</span></a>
                <a @onclick="OpenSideBar" data-menu="menu-settings"><i class="fa fa-bars color-brown-dark"></i><span>Menu</span></a>
            </div>
        </div>

        <!-- Sidebar-->
        <div id="menu-sidebar-left" class="bg-white menu menu-box-left" data-menu-width="320" data-menu-effect="menu-parallax" style="display: block;width: 320px;pointer-events: all;">
       <NavMenu/>
        </div>
    </div>

}
