@inherits LayoutComponentBase

@if (IsConfigurationsInitialized)
{
    <!--begin::App-->
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <!--begin::Page-->
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <!--begin::Header-->
            <div id="kt_app_header" class="bg-white header header-fixed header-logo-center">
                <!--begin::Header container-->
                <div class="app-container container-fluid d-flex align-items-stretch justify-content-between" id="kt_app_header_container">
                    <!--begin::sidebar mobile toggle-->
                    <div class="d-flex align-items-center d-lg-none ms-n2 me-2" title="Show sidebar menu">
                        <div class="align-self-center ms-2">
                            <img src="images/QuangBinh/Trungtam_40.png">
                        </div>
                        <div class="align-self-center ms-auto mt-1" id="kt_app_sidebar_mobile_toggle">
                            <a class="icon icon-xs gradient-yellow rounded-s"><i class="fa fa-list color-white font-18"></i></a>
                        </div>
                    </div>

                </div>
                <!--end::Header container-->
            </div>
            <!--end::Header-->
            <!--begin::Wrapper-->
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper" style="height:100%">
                <!--begin::sidebar-->
                <div id="kt_app_sidebar" style="height:100%" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                    <!--begin::sidebar menu-->
                    <div class="app-sidebar-menu overflow-hidden flex-column-fluid"  style="height:100%">
                        <!--begin::Menu wrapper-->
                        <div id="kt_app_sidebar_menu_wrapper" style="height:100%" class="app-sidebar-wrapper hover-scroll-overlay-y" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu"  data-kt-scroll-save-state="true">
                            <!--begin::Menu-->
                            <div class="menu menu-column menu-rounded menu-sub-indention " style="width: 210px; height:100%" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
                                <!--begin:Menu item-->
                                <NavMenu />

                                <!--end:Menu item-->
                            </div>
                            <!--end::Menu-->
                        </div>
                        <!--end::Menu wrapper-->
                    </div>
                    <!--end::sidebar menu-->
                    <!--begin::Footer-->
                    <!--end::Footer-->
                </div>
                <!--end::sidebar-->
                <!--begin::Main-->
                <div id="kt_app_content_container" class="page-content header-clear-medium">
                    @Body
                    <div class="footer card mx-0">
                        <a href="#" class="footer-title"><span class="color-highlight">Trung tâm DVVL Quảng Bình</span></a>
                        <p class="footer-text mb-2">
                            <span><i class="fa fa-heart color-highlight font-16 ps-2 pe-2"></i>Hotline: 02323 7979898</span>
                            <br><i class="fa-solid fa-envelope color-highlight font-16 ps-2 pe-2"></i>
                            vieclamthanhnienquangbinh@gmail.com
                            <br><i class="fa-solid fa-location-dot color-highlight font-16 ps-2 pe-2"></i>42 Trần Quang Khải,
                            Đồng Phú, Đồng Hới, Quảng Bình
                        </p>
                        <p class="footer-copyright">
                            Copyright &copy; BBK Solution <span id="copyright-year">2024</span>. All
                            Rights
                            Reserved.
                        </p>
                        <p class="footer-links">
                            <a href="#" class="color-highlight">Chính sách</a> | <a href="#"
                                                                                    class="color-highlight">Điều khoản sử dụng</a> | <a href="#"
                                                                                                                                        class="back-to-top color-highlight"> Back to Top</a>
                        </p>
                        <div class="clear"></div>
                    </div>
                    <!--BODY IS HERE-->
                </div>
                <!--end:::Main-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::App-->
}