.applogo {
/*max-height: 75px;*/
height: 65px;
}

.page-wrapper .page-header {
padding-top: 0px;
padding-bottom: 0px;
}

.page-wrapper.horizontal-wrapper .page-body-wrapper .sidebar-wrapper {
/*top: 115px;*/
}

.page-wrapper .page-header .header-wrapper {
padding-top: 15px;
padding-bottom: 15px;
}

.page-wrapper.horizontal-wrapper .header-logo-wrapper {
width: 88px;
}

.page-wrapper.horizontal-wrapper .page-body-wrapper .sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content > li > a {
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0px;
}

.page-wrapper.horizontal-wrapper .page-body-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content > li .sidebar-submenu {
width: auto;
}


.btn {
  line-height: 24px;
}

.btn-line-0 {
  line-height: 16.5px;
}

.dataTables_wrapper .dataTables_length {
  margin-bottom: 0px;
}

/*** Toasts */
#toast-container > .toast-info {
background-color: #2F96B4;
}

#toast-container > .toast-warning {
background-color: #F89406;
}

#toast-container > .toast-success {
background-color: #51A351;
}

#toast-container > .toast-error {
background-color: #BD362F;
}

.toast-message {
color: #fff;
}
