@using BBK.SaaS.Services.Navigation
@inherits SaaSMainLayoutPageComponentBase
@attribute [Route("/" + NavigationUrlConsts.GioiThieu)]

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="row align-items-center mt-3 m-0">
        <div class="col-xl-12">
            <div class="align-items-center">
                <h5>TRUNG TÂM DỊCH VỤ VIỆC LÀM QUẢNG BÌNH</h5>
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <img src="/media/a2a.jpg" width="100%" height="80px" />
                            </div>
                            <div class="col-8">
                                <h6>GIỚI THIỆU VỀ TRUNG TÂM</h6>
                                <div class="detail">
                                    <u>CHI TIẾT</u>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <img src="/media/logoBbk.png" width="100%" height="80px" />
                            </div>
                            <div class="col-8">
                                <h6>CHỨC NĂNG NHIỆM VỤ CỦA TRUNG TÂM</h6>
                                <div class="detail">
                                    <u>CHI TIẾT</u>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <img src="/media/logoBbk.png" width="100%" height="80px" />
                            </div>
                            <div class="col-8">
                                <h6>CƠ CẤU TỔ CHỨC</h6>
                                <div class="detail">
                                    <u>CHI TIẾT</u>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-body">
                        <ul>
                            <li>
                                <p class="contact"> Địa chỉ:</p>
                                <p>
                                    Toà Nhà TheNine,Mai Dịch, Cầu Giấy, HN
                                </p>
                            </li>
                            <li>
                                <p class="contact"> Hotline: </p>
                                <p>(+84) 868 298 297</p>
                            </li>
                            <li>
                                <p class="contact">Số điện thoại: </p>
                                <p>0868298297</p>
                            </li>
                            <li>
                                <p class="contact">Fax: </p>
                                <p>109287373</p>
                            </li>
                            <li>
                                <p class="contact">Email: </p>
                                <p>admin@bbksolution.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>