<div class="col-md-12 col-lg-12 mt-2" id="jobapplication">
    <div class="col-12 d-flex" style="justify-content: space-between;">
      @*   <h5 class="mb-4"><strong>@L("Thông tin chung")</strong></h5> *@
        @* <button class="btn btn-primary m-5 edit"> @L("Sửa")</button> *@
    </div>
    <div class="row mb-3 mt-3">
       <div class="col-xl-4 col-md-6 mb-3">
            <p><strong>Tiêu đề</strong></p>
            <p id="Title"></p>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <p><strong>Cấp bậc mong muốn</strong></p>
            <p id="Positions"></p>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <p><strong>Mức lương mong muốn</strong></p>
            <p id="DesiredSalary"></p>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <p><strong>Bằng cấp</strong></p>
            <p id="LiteracyId"></p>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <p><strong>Số năm kinh nghiệm</strong></p>
            <p id="ExperiencesId"></p>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <p><strong>Hình thức làm việc</strong></p>
            <p id="FormOfWork"></p>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <p><strong>Nghề nghiệp</strong></p>
            <p id="Occupations"></p>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <p><strong>Địa điểm làm việc</strong></p>
            <p id="WorkSite"></p>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <p><strong>Mục tiêu</strong></p>
            <p id="Career"></p>
        </div> 
        <div class="col-xl-4 col-md-6 mb-3" id="Pushlish">
            <p><strong>Hồ sơ chính</strong></p>
        </div>
        <div class="col-lg-12 col-md-12" id="fileView">
        </div>
    </div>

</div>
