@using Abp.Localization
@using BBK.SaaS.Web.Areas.App.Startup

@section Scripts
{
    <script abp-src="/view-resources/App/Common/_DynamicEntityPropertyManager.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Profile/Appointments/index.js" asp-append-version="true"></script>
}

@{
    ViewBag.CurrentPageName = AppPageNames.Administrators.Users;
    ViewBag.PageTitle = "Quản lý Tin tuyển dụng";
    ViewBag.PageDescription = "Tin đã đăng";
}
<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
             <div class="card">
                <div class="card-body">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <h2>
                            <span class="fw-300"><i>Danh sách lịch hẹn</i></span>
                        </h2>
                    </div>
                    <div class="panel-container show mt-5">
                        <div class="panel-content">
                            <div class="card-wrapper border rounded-3 light-card checkbox-checked">
                            <div class="row ">
                                <div class="col-lg-4 col-md-4 mb-3 mt-auto">
                                    <label for="Title" class="form-label">Tìm tên ứng viên</label>
                                    <input type="text" id="SearchTerm" name="SearchTerm" placeholder="@(new FixedLocalizableString("Tìm tên ứng viên"))" class="form-control" >
                                </div>
                                <div class="col-lg-4 col-md-4 mb-3 mt-auto">
                                    <label for="Title" class="form-label">Vị trí</label>
                                   <select class="form-control" id="Rank" name="Rank" >
                                        <option value="0">Chọn</option>
                                        <option value="1">Quản lý cấp cao</option>
                                        <option value="2">Quản lý cấp trung</option>
                                        <option value="3">Quản lý nhóm-giám sát</option>
                                        <option value="4">Chuyên gia</option>
                                        <option value="5">Chuyên viên</option>
                                        <option value="6">Cộng tác viên</option>
                                    </select>
                                </div>
                                  <div class="col-lg-4 col-md-4 mb-3 mt-auto">
                                    <label for="Title" class="form-label">Ngày hẹn</label>
                                    <div class="form-outline datepicker-with-filter1">
                                        <input id="InterviewTime" type="date" name="InterviewTime"
                                           class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               <div class="col-lg-4 col-md-4 mb-3 mt-auto">
                                   <label for="Title" class="form-label">Kết quả</label>
                                     <select class="form-control" id="InterviewResultLetter" name="InterviewResultLetter">
                                        <option value="0">Chọn</option>
                                        <option value="1">Pass</option>
                                        <option value="2">Fail</option>
                                    </select>
                                </div>
                                  <div class="col-lg-4 col-md-4 mb-3 mt-auto">
                                   <label for="Title" class="form-label">Kinh nghiệm"</label>
                                    <select class="form-control" id="Experience" name="Experience">
                                        <option value="0" >chọn</option>
                                        <option value="1">Toàn thời gian cố định</option>
                                        <option value="2">Toàn thời gian tạm thời</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-12 mb-3 mt-auto">
                                    <button class="btn btn-primary ml-auto waves-effect waves-themed" id="Search" type="button">@(new FixedLocalizableString("Tìm kiếm"))</button>
                                </div>
                            </div>
                            </div>
                      
                            <div class="form-row mt-5">
                              
                            </div>
                            <!-- datatable start -->
                            <table id="AppointmentTable" class="table table-bordered table-hover table-striped w-100">
                                <thead class="bg-primary-600">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên ứng viên</th>
                                        <th>Vị trí</th>
                                        <th>Ngày hẹn</th>
                                        <th>Thời gian</th>
                                        <th>Hình thức</th>
                                        <th>Trạng thái ứng viên</th>
                                        <th>Kết quả</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <!-- datatable end -->
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>